@model FagElGamous.Models.BurialData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BurialData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NsLow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NsLow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NsHigh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NsHigh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EwLow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EwLow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EwHigh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EwHigh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subplot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subplot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaHillBurials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaHillBurials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tomb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tomb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearExcav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearExcav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthExcav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthExcav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExcav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExcav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeExcav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeExcav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcavRecorder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcavRecorder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBookPg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBookPg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtifactFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtifactFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtifactDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtifactDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairPresent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairPresent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairColorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairColorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialHairColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialHairColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceBundle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceBundle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSampleTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSampleTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftTissueTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftTissueTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoneTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoneTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextileTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextileTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateLivingStature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateLivingStature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthOfRemains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthOfRemains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSituationNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSituationNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WestToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WestToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WestToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WestToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SouthToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SouthToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreservationIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreservationIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialPreservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialPreservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialMaterials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialMaterials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialWrapping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialWrapping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterYn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterYn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderGe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderGe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeFunctionTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeFunctionTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeAtDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeAtDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialAdultChild)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialAdultChild)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToBeCo0firmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToBeCo0firmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B1uSample)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B1uSample)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyAnalysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyAnalysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOnSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOnSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthOnSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthOnSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOnSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOnSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullAtMagazi0e)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullAtMagazi0e)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcra0iaAtMagazi0e)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcra0iaAtMagazi0e)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexSkull2018)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexSkull2018)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeSkull2018)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeSkull2018)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArcGisRefNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArcGisRefNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasilarSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasilarSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentralArc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentralArc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubpubicAngle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubpubicAngle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SciaticNotch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SciaticNotch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubicBone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubicBone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreaurSulcus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreaurSulcus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedialIpRamus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedialIpRamus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DorsalPitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DorsalPitting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForemanMagnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForemanMagnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemurHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemurHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumerusHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumerusHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osteophytosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osteophytosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubicSymphysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubicSymphysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemurLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemurLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumerusLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumerusLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TibiaLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TibiaLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Robust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Robust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupraorbitalRidges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupraorbitalRidges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrbitEdge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrbitEdge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalBossing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalBossing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gonian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gonian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuchalCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuchalCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZygomaticCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZygomaticCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CranialSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CranialSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionBregmaHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionBregmaHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionNasion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionNasion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionProsthionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionProsthionLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BizygomaticDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BizygomaticDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasionProsthion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasionProsthion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNasalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterorbitalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterorbitalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcra0iaTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcra0iaTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CribraOrbitala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CribraOrbitala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosisLocations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosisLocations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetopicSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetopicSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButtonOsteoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButtonOsteoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsteologyUnknownComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsteologyUnknownComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TmjOa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TmjOa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinearHypolasiaEnamel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinearHypolasiaEnamel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothAttrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothAttrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothEruption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothEruption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathologyAnomalies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathologyAnomalies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpiphysealUnion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpiphysealUnion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsteologyNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsteologyNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BurialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
