
@inject UserManager<AppUser> UserManager
@inject PolicyRolesDbContext context
@inject SignInManager<AppUser> SignInManager
@using Microsoft.AspNetCore.Identity

<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            @*Burial Database buttons*@
            @if (Policy.IsInDeleteRole(UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result, context))
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Admin")'">Burial Database</button>
            }
            else if (Policy.IsInWriteRole(UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result, context))
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Researcher")'">Burial Database</button>
            }
            else
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Public")'">Burial Database</button>
            }
        </div>
        <div class="col-4 text-center">
            @*C14 Database Buttons*@
            @if (Policy.IsInDeleteRole(UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result, context))
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "C14Admin")'">C14 Database</button>
            }
            else if (Policy.IsInWriteRole(UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result, context))
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "C14Researcher")'">C14 Database</button>
            }
            else
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "C14Public")'">C14 Database</button>
            }
        </div>
        <div class="col-4 text-center">
            @*Bio Sample Database*@
            @if (Policy.IsInDeleteRole(UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result, context))
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "BioSampleAdmin")'">Bio Sample Database</button>
            }
            else if (Policy.IsInWriteRole(UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result, context))
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "BioSampleResearcher")'">Bio Sample Database</button>
            }
            else
            {
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "BioSamplePublic")'">Bio Sample Database</button>
            }
        </div>
    </div>
</div>