@model FagElGamous.Models.BioSampleData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BioSampleData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.RackNum)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.RackNum)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BagNum)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.BagNum)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BurialLocNs)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.BurialLocNs)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NsLow)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.NsLow)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NsHigh)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.NsHigh)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BurialLocEw)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.BurialLocEw)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EwLow)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.EwLow)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EwHigh)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.EwHigh)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Subplot)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Subplot)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BurialNum)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.BurialNum)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BurialItemId)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.BurialItemId)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BioSampleDate)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.BioSampleDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PrevSampled)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.PrevSampled)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ClusterNum)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.ClusterNum)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Burial)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Burial.BurialId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BioSampleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
