@model FagElGamous.Models.AppUser

@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete User</h1>

<h3>Are you sure you want to delete this user's account?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UserType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class="col-sm-9">
            @if (Model.OrganizationName != null)
            {
                @Html.DisplayFor(model => model.OrganizationName)
            }
            else
            {
                <p>Null</p>
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @if (Model.PhoneNumber != null)
            {
                @Html.DisplayFor(model => model.PhoneNumber)
            }
            else
            {
                <p>Null</p>
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class="col-sm-9">
            @if (Model.ProfilePicture != null)
            {
                <img id="profilePicture" style="width:350px;height:350px; object-fit:contain" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))">
            }
            else
            {
                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="~/img/profile-avatar.jpg" alt="No image uploaded">
            }
        </dd>
    </dl>

    <form asp-controller="UserManager" asp-action="DeleteUserConfirm">
        <input type="hidden" asp-for="Id" name="userId"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="UserManager">Back to User List</a>
    </form>
</div>
