@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured.
                        </p>
                    </div>
                }
                else
                {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <button type="submit" class="btn btn-light" name="provider" value="@Model.ExternalLogins[0].Name" title="Register using your @Model.ExternalLogins[0].DisplayName account">
                        <img src="~/img/google-logo.png" class="float-left my-sm-1 mr-2" height="20" /><span class="align-middle">Log in with @Model.ExternalLogins[0].DisplayName</span>
                    </button>
                    <br /><br />
                    <button type="submit" class="btn btn-light" name="provider" value="@Model.ExternalLogins[1].Name" title="Register using your @Model.ExternalLogins[1].DisplayName account">
                        <img src="~/img/facebook-logo.jpg" class="float-left my-sm-1 mr-2" height="20" /><span class="align-middle">Log in with @Model.ExternalLogins[1].DisplayName</span>
                    </button>
                    <br /><br />
                    <button type="submit" class="btn btn-light" name="provider" value="@Model.ExternalLogins[2].Name" title="Register using your @Model.ExternalLogins[2].DisplayName account">
                        <img src="~/img/logo-microsoft.png" class="float-left my-sm-1 mr-2" height="20" /><span class="align-middle">Log in with @Model.ExternalLogins[2].DisplayName</span>
                    </button>
                    <br /><br />
                    <button type="submit" class="btn btn-light" name="provider" value="@Model.ExternalLogins[3].Name" title="Register using your @Model.ExternalLogins[3].DisplayName account">
                        <img src="~/img/twitter-logo.png" class="float-left my-sm-1 mr-2" height="20" /><span class="align-middle">Log in with @Model.ExternalLogins[3].DisplayName</span>
                    </button>
                    <br /><br />
                    <button type="submit" class="btn btn-light" name="provider" value="@Model.ExternalLogins[4].Name" title="Register using your @Model.ExternalLogins[4].DisplayName account">
                        <img src="~/img/github-logo.png" class="float-left my-sm-1 mr-2" height="20" /><span class="align-middle">Log in with @Model.ExternalLogins[4].DisplayName</span>
                    </button>
                </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
