@model IEnumerable<FagElGamous.Models.BurialData>

@{
    ViewData["Title"] = "Burial Records Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Burial Records Summary</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Burial Location ID 
            </th>
            <th>
                Date Excavated
            </th>
            <th>
                Sex
            </th>
            <th>
                Age at Death 
            </th>
            <th>
                Burial Length
            </th>
            <th>
                Burial Depth
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocNs) @Html.DisplayFor(modelItem => item.NsLow)/@Html.DisplayFor(modelItem => item.NsHigh) @Html.DisplayFor(modelItem => item.BurialLocEw) @Html.DisplayFor(modelItem => item.EwLow)/@Html.DisplayFor(modelItem => item.EwHigh) @Html.DisplayFor(modelItem => item.Subplot) #@Html.DisplayFor(modelItem => item.BurialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateExcav) @Html.DisplayFor(modelItem => item.MonthExcav) @Html.DisplayFor(modelItem => item.YearExcav)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeAtDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialDepth)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BurialId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
