@model FagElGamous.Models.C14data

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>C14data</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NsLow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NsLow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NsHigh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NsHigh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EwLow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EwLow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EwHigh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EwHigh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subplot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subplot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TubeNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TubeNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeMl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeMl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C14Sample2017)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C14Sample2017)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnknownNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnknownNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conventional14cAgeBp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conventional14cAgeBp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._14cCalendarDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._14cCalendarDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateSpan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateSpan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burial.BurialId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.C14Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
